PG1_HOST=192.168.150.201
PG2_HOST=192.168.150.202
PG3_HOST=192.168.150.203
PG4_HOST=127.0.0.1
PGBACKREST_REPO_HOST=192.168.150.211
IMAGE_TAG=13.3-buster-2.1.4
IMAGE_NAME=postgres-patroni
PG_BASE_IMG=13.3-buster
PATRONI_VERSION=2.1.4
PG_DATA_PATH=/home/postgres/postgres-data/data
PG_LOG_PATH=/home/postgres/postgres-data/logs
PGBACKREST_CERT_PATH=/home/postgres/pgbackrest-data/certs
PGBACKREST_BACKUP_SPACE_PATH=/home/postgres/pgbackrest/backup_space